<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<img src="/img/smalledisonheader.jpg">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
		        	<li><a href="/bio">Bio</a><li>
	        		<li><a href="/stories">Stories</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			
	    		<ul>
	        		<li><a href="https://instagram.com/peaceablewriter ">Instagram</a></li>
	        		<li><a href="https://universeodon.com/@peaceablewriter">Mastodon</a></li>
	        		<li><a href="https://linktr.ee/jdeames">Links</a></li>
	        	</ul>
	         <div>
      			<small>{{site.time | date: '%Y'}} &copy; {{site.author}}</small>
      		</div>
    		 </div>
			</footer>
		</body>
	</html>
